html {
  text-align: center;
  background-color: whitesmoke;
}

#main {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
}

header {
  background-color: navy;
  color: white;
  padding: 16px 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

header, footer {
  padding: 16px 0;
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: red;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin: 0 4px;
}

nav a {
  text-decoration: none;
  color: rgb(230, 230, 230);
  padding: 16px;
  display: block;
}

section {
  padding: 16px;
  margin: 16px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  font-variant: small-caps;
  margin: 0;
}

.subheader {
  font-size: 24px;
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
}

#tribute-info {
  font-size: 20px;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

#img-caption {
  margin-top: 4px;
}

.list-title {
  text-decoration: underline;
}

#list-wrapper {
  padding-top: 16px;
}

ul {
  max-width: 500px;
  margin: 0 auto 0 auto;
  font-size: 20px;
  line-height: 1;
}

li {
  text-align: left;
  margin-bottom: 8px;
}

#link {
  font-size: 18px;
}

#tribute-link {
  font-size: 18px;
}

p {
  font-size: 18px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 800px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
