* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

nav {
  background-color: rgb(95, 158, 160);
  justify-content: flex-end;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#navbar ul {
  list-style-type: none;
  display: flex;
}

#nav-list a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 16px;
  display: block;
  font-size: 20px;
}

main {
  margin: 0 auto;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 64px;
}

p {
  font-size: 18px;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgb(30, 30, 30);
  color: rgb(230, 230, 230);
}

#welcome-header {
  max-width: 600px;
  line-height: 1.4;
}

#projects-section {
  text-align: center;
  padding: 160px 32px;
  background-color: rgb(230, 230, 230);
  color: rgb(30, 30, 30);
}

#contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: rgb(30, 30, 30);
  color: rgb(230, 230, 230);
}

#projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 64px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 96px;
}

img{
  display: block;
  width: 100%;
}

.project {
  background-color: rgb(95, 158, 160);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.project-image {
  height: calc(100% - 40px);
  width: 100%;
  object-fit: cover;
}

.project-title {
  /* background-color: rgb(95, 158, 160); */
  padding: 8px 32px;
}

.project-tile, .contact-label, a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.project-tile:hover, .contact-label:hover {
  text-decoration: underline;
  font-weight: 600;
}

#projects-header, #contact-header {
  margin-bottom: 24px;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  flex-wrap: wrap;
}

.profile-link {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 8px 16px;
}

.profile-link i {
  font-size: 24px;
}

.btn {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 2px;
}

footer {
  border-top: 4px solid rgb(95, 158, 160);
  background: rgb(30, 30, 30);
  color: rgb(230, 230, 230);

}

#copyright {
  font-size: 16px;
  padding: 16px;
}
