* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto Slab';
  box-sizing: border-box;
  scroll-behavior: smooth;
}

nav {
  background-color: #ffffff;
  justify-content: flex-end;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#nav-list {
  list-style-type: none;
  display: flex;
  padding-right: 16px;
}

#nav-list a {
  text-decoration: none;
  color: #1e1e1e;
  padding: 12px;
  display: block;
  font-size: 1rem;
}

#links {
  display: flex;
}

main {
  margin: 0 auto;
}

p {
  font-size: 1.2rem;
}

.flex-layout {
  display: flex;
  align-items: center;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: #1e1e1e;
  background: #ffffff;
}

#welcome {
  text-align: left;
  max-width: 600px;
}

#welcome-header {
  font-size: 6rem;
}

#intro {
  line-height: 1.4;
}

#projects-section {
  text-align: center;
  padding: 56px 32px;
}

#projects-header {
  text-align: center;
  font-size: 4rem;
}

#projects-grid {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.project {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 0;
}

.project-image {
  height: calc(100% - 40px);
  width: 100%;
  object-fit: cover;
  box-shadow: 2px 2px #2f4f4f;
  border-radius: 4px;
  border: 1px solid #1e1e1e;
}

img {
  display: block;
  width: 100%;
}

.project-title {
  margin-bottom: 16px;
  font-size: 2rem;
  color: #000000;
}

.project-tile, .contact-label, a {
  text-decoration: none;
}

.project-tile {
  width: 50%;
}

.project-details {
  margin-left: 48px;
  padding-left: 24px;
  text-align: start;
}

.product-tech {
  font-style: italic;
}

#contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  color: #1e1e1e;
  background: #ffffff;
}

#contact-header {
  text-align: center;
  font-size: 5rem;
}

#contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  flex-wrap: wrap;
}

.contact-label:hover {
  font-weight: 600;
}

.contact-details {
  color: #1e1e1e;
}

.profile-link {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 8px 16px;
}

.profile-link i {
  font-size: 1.4rem;
}

.btn {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 2px;
}

footer {
  background: #ffffff;
  color: #1e1e1e;
  text-align: left;
}

#copyright {
  font-size: 0.75rem;
  padding: 16px;
  text-align: center;
}

@media (max-width: 500px) {
  nav {
    justify-content: center;
  }

  #navbar ul {
    padding-right: 0;
  }

  #nav-list {
    align-items: center;
  }

  .nav-link {
    display: none;
  }

  #links {
    display: flex;
    position: relative;
    right: -400px;
    transition-duration: 0.5s;
  }

  #menu-btn-container {
    position: fixed;
    right: 12px;
  }

  .bar1, .bar2, .bar3 {
    width: 20px;
    height: 2px;
    background-color: #1e1e1e;
    margin: 4px 0;
    transition: 0.5s;
  }

  .change .bar1 {
    transform: rotate(-45deg) translate(-10px, 1px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: rotate(45deg) translate(-7px, 1px);
  }

  #welcome {
    margin: 0 32px;
  }

  #intro {
    max-width: 350px;
    font-size: 1.2rem;
    margin-top: 12px;
  }

  #contact-links {
    display: block;
    padding-top: 8px;
    width: auto;
  }

  #welcome-header, #contact-header {
    font-size: 4rem;
    line-height: 1;
  }

  #projects-header {
    font-size: 3.2rem;
  }

  .project {
    display: block;
    margin: 32px 0;
  }

  .project-details {
    margin-left: 0;
    padding-left: 0;
  }

  .product-tech {
    margin-bottom: 24px;
    text-align: center;
  }

  .project-title {
    margin: 24px 0 4px 0;
    font-size: 24px;
    text-align: center;
    line-height: 1;
  }
}