html {
  background-color: rgb(235, 235, 235);
  font-family: Verdana, sans-serif;
}

p {
  margin: 0 0 4px 0;
}

select {
  width: 200px;
  font-size: 16px;
}

input, textarea {
  font-size: 16px;
}

.main {
  max-width: 600px;
  margin: 0 auto;
}

.header {
  text-align: center;
  background-color: white;
  margin-bottom: 16px;
  padding: 4px;
  border-radius: 4px;
}

.form {
  border-radius: 4px;
  background-color: white;
}

.form-group {
  padding: 16px 8px;
}

.form-control {
  height: 24px;
  border-radius: 4px;
  border-width: 1px;
}

.form-control:focus {
  height: 24px;
  border-radius: 4px;
  border-width: 2px;
  outline-color: white;
  border-color: black;
}

.helper-text {
  padding-left: 4px;
}

.input-radio, .input-checkbox {
  margin-right: 8px;
}

.text-input {
  padding: 8px;
}

.age {
  width: 44px;
}

.text-area {
  border-radius: 4px;
  width: 90%;
}

.text-area:focus {
  border-radius: 4px;
  border-width: 2px;
  outline-color: white;
  border-color: black;
}

.radio-option, .checkbox-option {
  display: flex;
  align-items: center;
  margin: 4px;
}

.submit-button {
  text-align: center;
}

#title {
  margin-top: 8px;
}

#description {
  margin-bottom: 8px;
}

#survey-form {
  padding: 24px;
}

#name, #email {
  width: 80%;
}

#submit {
  width: 120px;
  margin: 16px;
  padding: 16px;
  border-radius: 4px;
  background-color: rgb(68, 115, 201);
  color: whitesmoke;
  font-size: 16px;
}

#submit:hover {
  background-color: navy;
}
